{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <!-- <form action="counter" method="post">
        {% csrf_token %}
        <textarea name="text" id="" cols="30" rows="10"></textarea><br>
        <input type="submit" value="SUBMIT">
    </form> -->
    {% if user.is_authenticated %}
    <p><a href="logout">Logout</a></p>
    {% else %}
    <p><a href="login">Login</a></p>
    <p><a href="register">Signup</a></p>
    {% endif %}

    {% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}</h2>
    {% else %}
    <h2>House Of Doom</h2>
    {% endif %}
    <p>Lets get started</p>

</body>
</html>